<p id="notice"><%= notice %></p>

<h1>Careers</h1>

<table>
  <thead>
    <tr>
      <th>Fullname</th>
      <th>Email</th>
      <th>Github repo</th>
      <th>Portfolio</th>
      <th>Cover</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @careers.each do |career| %>
      <tr>
        <td><%= career.fullname %></td>
        <td><%= career.email %></td>
        <td><%= career.github_repo %></td>
        <td><%= career.portfolio %></td>
        <td><%= career.cover %></td>
        <td><%= link_to 'Show', career %></td>
        <td><%= link_to 'Edit', edit_career_path(career) %></td>
        <td><%= link_to 'Destroy', career, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Career', new_career_path %>
