<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @career.fullname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @career.email %>
</p>

<p>
  <strong>Github repo:</strong>
  <%= @career.github_repo %>
</p>

<p>
  <strong>Portfolio:</strong>
  <%= @career.portfolio %>
</p>

<p>
  <strong>Cover:</strong>
  <%= @career.cover %>
</p>

<%= link_to 'Edit', edit_career_path(@career) %> |
<%= link_to 'Back', careers_path %>
