<header class="nav-down responsive-nav hidden-lg hidden-md">
  <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <!--/.navbar-header-->
  <div id="main-nav" class="collapse navbar-collapse">
    <nav>
      <ul class="nav navbar-nav">
        <li><a href="#top">Home</a></li>
        <li><a href="#featured">Featured</a></li>
        <li><a href="#video">Presentation</a></li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="sidebar-navigation hidde-sm hidden-xs">
  <div class="logo">
    <a href="#">Layout<em>One</em></a>
  </div>
  <nav>
    <ul>
      <li>
        <a href="#top">
          <span class="rect"></span>
          <span class="circle"></span>
          Home
        </a>
      </li>
      <li>
        <a href="#featured">
          <span class="rect"></span>
          <span class="circle"></span>
          Featured
        </a>
      </li>
      <li>
        <a href="#video">
          <span class="rect"></span>
          <span class="circle"></span>
          Presentation
        </a>
      </li>
      <li>
        <a href="#contact">
          <span class="rect"></span>
          <span class="circle"></span>
          Contact Us
        </a>
      </li>
    </ul>
  </nav>
  <ul class="down-content">
    <h4 style="color: grey"><b><u>Follow Us On:</u></b></h4>
    <li><a href="#"><i-1 class="fa fa-facebook"><b><i></i></b></i-1></a></li>
    <li><a href="#"><i-2 class="fa fa-twitter"><b><i></i></b></i-2></a></li>
    <li><a href="#"><i-3 class="fa fa-instagram"><b><i></i></b></i-3></a></li>
    <li><a href="#"><i-4 class="fa fa-linkedin"><b><i></i></b></i-4></a></li>
  </ul>
</div>
