<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @client.category %>
</p>

<p>
  <strong>Type:</strong>
  <%= @client.type %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Service:</strong>
  <%= @client.service %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
