<div class="slider">
  <div class="Modern-Slider content-section" id="top">
    <div class="item item-1">
      <div class="img-fill">
      <% @homes.each do |home| %>
        <%= image_tag home.image.url, class: "image" %>
      <% end %>
      <div class="info">
        <div>
          <% @homes.each do |home| %>
            <h1><%= home.title %></h1>
            <p><%= home.body %></p>
          <% end %>

          <div class="white-button button">
            <a href="#">Our Services</a>
          </div>

          <div class="white-button button">
            <a href="#">Our Products</a>
          </div>

        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-content">

  <section id="featured" class="content-section">
    <div class="section-heading">
      <h1>Featured<br><em>Places</em></h1>
      <p>Praesent pellentesque efficitur magna,<br>sed pellentesque neque malesuada vitae.</p>
    </div>
    <div class="section-content">
      <div class="owl-carousel owl-theme">
        <div class="item">
          <div class="image">
            <img src="assets/featured_1.jpg" alt="">
            <div class="featured-button button">
              <a href="#">Continue Reading</a>
            </div>
          </div>
          <div class="text-content">
            <h4>Lorem ipsum dolor</h4>
            <span>Proin et sapien</span>
            <p>#1 You are allowed to use Sentra Template for your business.</p>
          </div>
        </div>
        <div class="item">
          <div class="image">
            <img src="assets/featured_2.jpg" alt="">
            <div class="featured-button button">
              <a href="#">Continue Reading</a>
            </div>
          </div>
          <div class="text-content">
            <h4>Phasellus a lacus ac odio</h4>
            <span>Maximus</span>
            <p>#2You <strong>can post</strong> a screenshot and a  Thank you.</p>
          </div>
        </div>
        <div class="item">
          <div class="image">
            <img src="assets/featured_3.jpg" alt="">
            <div class="featured-button button">
              <a href="#">Continue Reading</a>
            </div>
          </div>
          <div class="text-content">
            <h4>Proin sit amet fringilla</h4>
            <span>Vulputate</span>
            <p>#3 Aliquam mollis lacus eget metus efficitur lobortis.</p>
          </div>
        </div>
        <div class="item">
          <div class="image">
            <img src="assets/featured_2.jpg" alt="">
            <div class="featured-button button">
              <a href="#">Continue Reading</a>
            </div>
          </div>
          <div class="text-content">
            <h4>In volutpat augue lectus</h4>
            <span>Elementum</span>
            <p>#4 Aliquam mollis lacus eget metus efficitur lobortis.</p>
          </div>
        </div>
        <div class="item">
          <div class="image">
            <img src="assets/featured_1.jpg" alt="">
            <div class="featured-button button">
              <a href="#">Continue Reading</a>
            </div>
          </div>
          <div class="text-content">
            <h4>Cras commodo odio</h4>
            <span>Aliquam</span>
            <p>#5 Mauris lacinia pretium libero, ut tincidunt.</p>
          </div>
        </div>
        <div class="item">
          <div class="image">
            <img src="assets/featured_3.jpg" alt="">
            <div class="featured-button button">
              <a href="#">Continue Reading</a>
            </div>
          </div>
          <div class="text-content">
            <h4>Sed at massa turpis</h4>
            <span>Curabitur</span>
            <p>#6 Vestibulum tincidunt ornare ligula vel molestie..</p>
          </div>
        </div>
        <div class="item">
          <div class="image">
            <img src="assets/featured_2.jpg" alt="">
            <div class="featured-button button">
              <a href="#">Continue Reading</a>
            </div>
          </div>
          <div class="text-content">
            <h4>Aliquam mollis lacus</h4>
            <span>Suspendisse</span>
            <p>#7 Suspendisse suscipit nulla sed nisl fermentum.</p>
          </div>
        </div>
        <div class="item">
          <div class="image">
            <img src="assets/featured_1.jpg" alt="">
            <div class="featured-button button">
              <a href="#">Continue Reading</a>
            </div>
          </div>
          <div class="text-content">
            <h4>Mauris lacinia pretium</h4>
            <span>Vestibulum</span>
            <p>#8 Suspendisse suscipit nulla sed nisl fermentum.</p>
          </div>
        </div>
        <div class="item">
          <div class="image">
            <img src="assets/featured_3.jpg" alt="">
            <div class="featured-button button">
              <a href="#">Continue Reading</a>
            </div>
          </div>
          <div class="text-content">
            <h4>Proin sit amet fringilla erat</h4>
            <span>Convallis</span>
            <p>#9 Suspendisse suscipit nulla sed nisl fermentum.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="video" class="content-section">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h1>This is a <em>company</em> presentation.</h1>
          <p>Praesent pellentesque efficitur magna, sed pellentesque.</p>
        </div>
        <div class="text-content">
          <p>In eget ipsum sed lorem vehicula luctus. Curabitur non.</p>
        </div>
        <div class="accent-button button">
          <a href="#">Continue Reading</a>
        </div>
      </div>
      <div class="col-md-12">
        <div class="box-video">
          <div class="bg-video" style="background-image: url(https://unsplash.imgix.net/photo-1425036458755-dc303a604201?fit=crop&fm=jpg&q=75&w=1000);">
            <div class="bt-play">Play</div>
          </div>
          <div class="video-container">
            <iframe width="100%" height="520" src="https://www.youtube.com/embed/j-_7Ub-Zkow?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="content-section">
    <div id="contact-content">
      <div class="section-heading">
        <h1>Contact<br><em>Layout One</em></h1>
        <p>Curabitur hendrerit. <br>Phasellus.</p>
      </div>
      <div class="section-content">
        <form id="contact" action="#" method="post">
          <div class="row">
            <div class="col-md-4">
              <fieldset>
                <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
              </fieldset>
            </div>
            <div class="col-md-4">
              <fieldset>
                <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
              </fieldset>
            </div>
             <div class="col-md-4">
              <fieldset>
                <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject..." required="">
              </fieldset>
            </div>
            <div class="col-md-12">
              <fieldset>
                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
              </fieldset>
            </div>
            <div class="col-md-12">
              <fieldset>
                <button type="submit" id="form-submit" class="btn">Send Message Now</button>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

</div>
