<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @about.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @about.subtitle %>
</p>

<p>
  <strong>Body:</strong>
  <%= @about.body %>
</p>

<%= link_to 'Edit', edit_about_path(@about) %> |
<%= link_to 'Back', abouts_path %>
